@charset utf-8;

*{margin:0;padding:0;box-sizing:border-box;}
li{list-style:none;}
a:visited, a:link{text-decoration:none;color:#333;}
.clearfix:before, .clearfix:after{content:"";display:block;clear:both;}

#navTop {position: fixed;top: 0;z-index:999;width: 100%;}

.mud_mockup {transition: .3s;}
.mud_mockup:hover {transform: scale(1.2)}
.inside_mockup {transition: .3s;}
.inside_mockup:hover {transform: scale(1.2)}
.animal_mockup {transition: .3s;}
.animal_mockup:hover {transform: scale(1.1)}
.lg_mockup {transition: .3s;}
.lg_mockup:hover {transform: scale(1.1)}
.app_mockup {transition: .3s;}
.app_mockup:hover {transform: scale(1.1)}


#fp-nav a {font-weight:bold;}
#fp-nav a:hover {color: #000;}



/*mud*/
.site-click {height: 40px;background: #604d3f;cursor: pointer;border: 1px solid #fff;}
.site-click p {float: left;line-height: 40px;font-weight: bold;color:#fff;margin-right:10px;text-align: center;}
.site-click img {float: right;width: 30px;margin-top: 5px}

.site-click2 {height: 40px;background: #1c1362;cursor: pointer;border: 1px solid #fff;}
.site-click2 p {float: left;line-height: 40px;font-weight: bold;color:#fff;margin-right:10px;text-align: center;}
.site-click2 img {float: right;width: 30px;margin-top: 5px}

.site-click3 {height: 40px;background: #89caa2;cursor: pointer;border: 1px solid #fff;}
.site-click3 p {float: left;line-height: 40px;font-weight: bold;color:#fff;margin-right:10px;text-align: center;}
.site-click3 img {float: right;width: 30px;margin-top: 5px}

.site-click4 {height: 40px;background: #ef017d;cursor: pointer;border: 1px solid #fff;}
.site-click4 p {float: left;line-height: 40px;font-weight: bold;color:#fff;margin-right:10px;text-align: center;}
.site-click4 img {float: right;width: 30px;margin-top: 5px}

.site-click5 {height: 40px;background: #ef017d;cursor: pointer;border: 1px solid #fff;}
.site-click5 p {float: left;line-height: 40px;font-weight: bold;color:#fff;margin-right:10px;text-align: center;}
.site-click5 img {float: right;width: 30px;margin-top: 5px}
















